/* body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input[type="login"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saveBtn {
    background-color: #4CAF50;
    color: white;
}

#clearBtn {
    background-color: #f44336;
    color: white;
}

#display {
    background-color: #2196F3;
    color: white;
}

#savedText {
    margin-top: 20px;
}

.clear {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #313131ad;
} */







.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.56);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
    background: #0020f3;
    padding: 5px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    transition: .2s;
}
input {
    width: 200px;
    height: 200px;
    padding: 0px 2px;
    border: none;
}
button:hover {
    background: #000084;
}
h1 {
    position: absolute;
    color: white;
    font-size: 20px;
    letter-spacing: -1px;
}